html {
	font-size: 16px;
	font-family: Verdana, sans-serif;

}

body {
	margin: 0;
}

p {
	margin: 0.8rem 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.float-container {
	clear: both;
}

.float-container:after {
	clear: both;
	content: "";
	display: block;
}

.cf:after {
	content: " ";
	clear: both;
	display: block;
}

.center-block {
	display: block;
	margin: 0 auto;
}
.w25 {
	width: 23%;
	float: left;
}

.w50 {
	float: left;
	width: 49%;
}

.w50:nth-child(even) {
	float: right;
}

.w75 {
	float: left;
	width: 70%;
}
.bg-container {
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cursive {
	font-family: 'Gloria Hallelujah', cursive;
}

.notepad {
	margin: 2rem 0;
	max-width: 100%;
    box-shadow: 13px 24px 52px #333;
}

.notepad-header {
	position: relative;
	padding: 1rem 2rem;
	border-radius: 10px 10px 0 0;

	background: rgba(169,3,41,1);
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );
}

.notepad-header:before,
.notepad-header:after {
    content: " ";
    position: absolute;
    left: 5%;
    top: -25px;
    width: 30px;
    height: 60px;
    border-radius: 24px;
    box-shadow: 1px 4px 5px #333;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebe9f9+0,d8d0ef+50,cec7ec+51,c1bfea+100;Purple+3D+%231 */
background: rgb(235,233,249); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.notepad-header:after {
	left: initial;
	right: 5%;
}
.notepad-header-title {
	margin: 0;
	text-align: center;
	color: #fff;
}

.notepad-body {
	box-sizing: border-box;
	padding: 1rem 2rem;
	background-color: #fff;
	width: 100%;
	background-image: url('images/notepad-bg.png');



	min-height: 200px;
}




.notepad-image {
    border: 10px solid #a88868;
    border-radius: 100%;
    width: 100%;
    padding-top: 90%;
    background-image: url(images/vincent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    box-sizing: border-box;
}

.hello {
	padding: 1rem 0 0 1rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.notepad-separator {
    border: 1px dashed #333;
}

.form label {
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form label:after {
	content: ":";
}
.form input,
.form select,
.form textarea {
    width: 100%;
    box-sizing: border-box;
    border: 4px dashed rgba(97, 93, 87, 0.46);
    padding: 1rem;
    font-size: 1.4rem;
    min-height: 4rem;
    background-color: rgba(88, 77, 68, 0.38);
    outline: none;
	transition: all 0.1s ease-out;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
	border-color: #a70328;
}

.form input[type="submit"] {
	cursor: pointer;
	font-weight: bold;
	background-color: #a70328;
	border-color: transparent;
	width: 200px;
	color: #fff;
	margin-top: 1rem;
}

.form input[type="submit"]:hover {
	border-color: #a70328;
	background-color: #fff;
	color: #a70328;
}




@media screen and (max-width: 768px)  {
	html {
		    font-size: 14px;
	}
	.container {
		padding: 0 1rem;
	}
	.w50,
	.w25,
	.w75 {
		width: 100%;
		float: left;
	}
	.notepad-image {
	    width: 50%;
    	padding-top: 45%;
    	margin: 0 auto;
    	float: none;
	}

}