html {
	font-size: 16px;
	font-family: 'Roboto', 'Verdana', sans-serif;

}

body {
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.cf:after {
	content: " ";
	clear: both;
	display: block;
}

.center-block {
	display: block;
	margin: 0 auto;
}

.w30 {
	float: left;
	width: 35%;
}

.w30:nth-child(even) {
	margin: 0 5%;
	width: 40%;
}

.w30:nth-child(3) {
	width: 15%;
}

.w50 {
	float: left;
	width: 48%;
}

.w50:nth-child(even) {
	float: right;
}

.w100 {
	width: 100%;
}

.background-image {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.form {
	position: relative;
    max-width: 50%;
    margin: 10rem auto 0 auto;
	color: #53514F;
	background-color: rgba(255,255,255,0.5);
    min-height: 50vh;
    box-shadow: 0px 5px 31px #4d341e;
}

.form-heading-container {
    padding: 2.5rem 2rem 1rem;
    border-bottom: 2px solid #589BEA;
}


.form-heading {
	font-size: 2.4rem;
	margin: 0;
}
.form-body-container {
	padding: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.form-row {
	clear: both;
	margin-bottom: 1.5rem;
}

.form-row:after {
	content: " ";
	clear: both;
	display: block;	
}

.input-label {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #53514f;
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
}

.btn-save {
    background-color: #589BEA;
    font-size: 1.2rem;
    border-radius: 48px;
    font-weight: bold;
    padding: 16px 20px;
    display: block;
    color: #fff;
    border: none;
    box-shadow: 0px 1px 4px #333;
    transition: all 0.3s ease-out;
    cursor: pointer;
    outline: none;
}
.btn-save:hover {
	background-color: #78a9e2;
}

.btn-save:active {
	box-shadow: 0px 1px 1px #666;
}
.input.billing {
  width: auto;
  margin-right: 1rem;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */

  float: left;
}


.card-container {
	width: 100%;
	display: block;
	margin-bottom: 2rem;
	border-radius: 10px;
	min-height: 300px;
	padding: 1rem 3rem 2rem;
	box-sizing: border-box; 
    box-shadow: 0px 5px 15px #333;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.card-logo {
	display: block;
	max-width: 100px;
	margin: 0 auto 2rem auto;
}

.input-card {
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
	border: 3px solid transparent;
	transition: all 0.3s ease-out;

}

.input-card:hover {
	background-color: rgba(255,255,255,0.4);
}

.input-card:focus {
	background-color: rgba(255,255,255,0.6);
	border: 3px solid #5d80a9;
}

.date-inputs-container select {
	max-width: 60%;
}

.date-inputs-container select:last-child {
	max-width: 36%;
}


@media screen and (max-width: 1541px)  {

	.w50 {
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}

	.w30,
	.w30:nth-child(even),
	.w30:last-child {
		width: 100%;
		float: left;
		margin: 10px 0;
	}	
}

@media screen and (max-width: 992px)  {
	.form {
		max-width: 84%;
	}
}

@media screen and (max-width: 600px)  {
	.date-inputs-container select,
	.date-inputs-container select:last-child {
		max-width: 100%;
		margin-bottom: 10px;
	}
}

